html,
body {
  height: 100%;
}
body {
  background-color: rgb(22, 17, 17);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 23px;
  border: 1.3px solid rgb(0, 0, 0);
  border-radius: 13px;
  box-shadow: 10px 5px 45px rgb(218, 56, 56);
}
.row{
    display: flex;
    justify-content: space-between;
}
.btn {
  display: inline-block;
  padding: 13px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(240, 215, 215);
  background-color: transparent;
  transition: all 0.5s;
}
.btn:hover {
  box-shadow: 3px 2px 8px rgb(218, 126, 126);
}

.btn:active {
  box-shadow: 3px 2px 8px rgb(218, 56, 56);
}
